<h1>hola dilbani</h1>
<form action="/restaurants" method="post">
  <label for="">Name</label>
  <input type="text" name="name">

  <label for="">City</label>
  <input type="text" name="city">

  <label for=" ">URL Image</label>
  <input type="text" name="image_url">

  <label for="">Phone_number</label>
  <input type="text" name="phone_number">

  <label for="">Address</label>
  <input type="text" name="address">

  <label for="">Type_food</label>
  <input type="text" name="type_food">

  <input type="submit" value="Enviar">
</form>

params = {
  name: "dilbani",
  city: "Medellin",
  address: "av 32-45",
  phone_number: "1335455",
  type_food: "pollo"
image_url: "www.fgfgfgfbffss.jgp"
}

params[:name]
params[:city]
params[:address]
params[:phone_number]
params[:type_food]
params[:image_url]
